@using Photography.Core.ViewModels.Category
@model CategoryFormViewModel

@{
    ViewBag.Title = "Изтрий категория";
}

<h2 class="my-4 text-center">Изтриване на категория</h2>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Delete" method="post" class="d-flex align-items-center">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="flex-grow-1 me-2">
                <input asp-for="@Model.Name" class="form-control form-control-lg" placeholder="Име на категорията" aria-required="true"/>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div>
                <input class="btn btn-warning px-4 py-2 fw-bold" type="submit" value="Изтрий"/>
            </div>
        </form>
    </div>
</div>