@using Photography.Core.ViewModels.Category
@model CategoryFormViewModel

@{
    ViewBag.Title = "Изтрий категория";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <p class="text-danger mt-3">Сигурни ли сте, че искате да изтриете категорията "@(Model.Name)"?</p>
            </div>
            <div class="card-footer">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">Да</button>
                    <a asp-controller="Category" asp-action="Manage" asp-route-id="@Model.Id" class="btn btn-warning">Отказ</a>
                </form>
            </div>
        </div>
    </div>
</div>