
<div class="container text-center mt-5">
    <h1 class="display-3 text-danger">404</h1>
    <h2 class="mb-4">Опа! Страницата не е намерена.</h2>
    <p class="lead">Страницата, която се опитвате да заредите, не е намерена или е изтрита.</p>
    <a href="/" class="btn btn-primary btn-lg btn-hover-effect">
        <i class="bi bi-arrow-left-circle"></i> Начало
    </a>
</div>