<div class="container text-center mt-5">
    <h1 class="display-3 text-warning">403</h1>
    <h2 class="mb-4">Достъпът е отказан!</h2>
    <p class="lead">Нямате разрешение за достъп до тази страница или ресурс.</p>
    <a href="/" class="btn btn-primary btn-lg btn-hover-effect">
    <i class="bi bi-arrow-left-circle"></i> Начало
</div>