<div class="container text-center mt-5">
    <h1 class="display-3 text-danger">500</h1>
    <h2 class="mb-4">Опа! Нещо се обърка.</h2>
    <p class="lead">Възникна неочаквана грешка на сървъра. Моля, опитайте отново по-късно или се свържете с поддръжката.</p>
    <a href="/" class="btn btn-primary btn-lg btn-hover-effect">
        <i class="bi bi-arrow-left-circle"></i> Начало
    </a>
</div>